body{
    display:grid;
    place-items: center;
    min-height: 100vh;
    margin:0;
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
}
.card{
    display:grid;
    grid-template-rows:auto 1fr;
    max-width:300px;
    background-color: #fff;
    border:2px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px (0,0,0,0.1);
    transition : transform 0.3s ease;
    overflow : hidden;
}

.card .image{
    width:100%;
    height:auto;
    display:block;
}

.card-title{
    font-size : 1.25rem;
    font-weight: bold;
    padding:1rem;
    color: #333;
}

.card-description {
    font-size:0.95rem;
    line-height:2;
    color:#666;
    padding:0 1rem 1rem;
}

.card:hover{
    transform: translateY(-5px);
}